<div class="container">
 <div class="row">
	<div class="col-md-3">

		<h2>User info</h2>
		<%= render 'users/user', user: @book.user %>

		<h2>New book</h2>
		<%= render 'books/book', book: Book.new %>

	</div>

   <!-- 投稿の詳細 -->
    <div class="col-md-8 offset-md-1">
      <h1>Book detail</h1>
      <table class="table table-user-show">
        <tr>
          <td><%= attachment_image_tag @user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg" %></td>
          <td><%= link_to @user.name, user_path(@user) %></td>
          <td><%= link_to @book.title, @book %></td>
          <td><%= @book.body %></td>


          <% if @book.user_id == current_user.id %>
            <td><%= link_to "Edit", edit_book_path(@book), class:"btn btn-success"%></td>
            <td><%= link_to "Destroy", book_path(@book), method: :delete, data: {confirm: "本当に消しますか？"}, class:"btn btn-danger" %></td>
          <% end %>
        </tr>
      </table>
    </div>
  </div>
</div>